Daniel Ortega Carcamo
19-09-2024

### Q1. Pandas version

In [40]:
import pandas as pd
import numpy as np 
pd.__version__

'2.2.2'

In [3]:
file = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'

In [4]:
df = pd.read_csv(file)

### Q2. Records count

How many records are in the dataset?

In [6]:
df.shape

(2160, 12)

### Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [10]:
len(df.Brand.unique())

27

### Q4. Missing values
How many columns in the dataset have missing values?

In [12]:
print(df.isnull().sum())

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [17]:
df[df["Brand"] == 'Dell']['Final Price'].max()

3936.0

### Q6. Median value of Screen

1. Find the median value of `Screen` column in the dataset.
2. Next, calculate the most frequent value of the same `Screen` column.
3. Use `fillna` method to fill the missing values in `Screen` column with the most frequent value from the previous step.
4. Now, calculate the median value of `Screen` once again.

Has it changed?

In [24]:
df['Screen'].median() ==  df['Screen'].fillna((df['Screen'].mode())).median()

True

### Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns `RAM`, `Storage`, `Screen`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the sum of all the elements of the result?

In [32]:
X = df[df['Brand'] == 'Innjoo'][['RAM','Storage',"Screen"]].values

In [44]:
XTX = np.dot(X.T,X)
inv = np.linalg.inv(XTX)
y = [1100, 1300, 800, 900, 1000, 1100]

In [45]:
w = np.dot(np.dot(inv, X.T), y)

In [47]:
w.sum()

91.29988062995815